<!doctype html>
<html>

<head>

  <link rel='stylesheet' href='/css/blackjack.css'>

</head>

<body>
    <h1>Hello, {{user}}</h1>
    <p>Your gender is {{gender}}</p>
    
    <p>
        You have visited this page {{times}} times!
    </p>
    <p>
        <a href={{login_link}}>Log in with ION!</a>
    </p>
    <p>
        This page was generated via hbs.
    </p>


    <script>
      console.log('something!');
    </script>    
</body>

</html>